*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.add-to-cart{
    position: absolute;
    /* border: 1px solid red; */
    height: 100px;
    width: 100px;
    right: 0;
}
.add-to-cart img{
    height: 100px;
    width: 100px;
}